.instalaciones-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.instalaciones-instalaciones {
  gap: 20px;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.instalaciones-header {
  gap: 5px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #D9D9D9;
}
.instalaciones-close {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #07d26c;
}
.instalaciones-text {
  color: rgb(255, 255, 255);
  width: auto;
  align-self: center;
  margin-left: var(--dl-space-space-twounits);
  background-color: rgb(7, 210, 108);
}
.instalaciones-image {
  width: auto;
  height: auto;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-twounits);
}
.instalaciones-cabecera {
  gap: 10px;
  flex: 0 0 auto;
  width: 90%;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.instalaciones-navlink {
  display: contents;
}
.instalaciones-logo {
  flex: 1;
  width: 15%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}
.instalaciones-gymlogo2png1 {
  flex: 1;
  width: 135px;
  height: 55px;
  align-self: center;
}
.instalaciones-text01 {
  color: rgba(0, 93, 119, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.instalaciones-men {
  gap: 24px;
  flex: 2;
  width: 60%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
}
.instalaciones-navlink1 {
  display: contents;
}
.instalaciones-frame126 {
  width: 100px;
  height: 27px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  text-decoration: none;
}
.instalaciones-text03 {
  left: 22px;
  color: rgba(38, 38, 38, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.instalaciones-frame {
  top: 5.5px;
  left: 84px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.instalaciones-text05 {
  color: rgba(38, 38, 38, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.instalaciones-text07 {
  color: rgba(38, 38, 38, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.instalaciones-text09 {
  color: rgba(38, 38, 38, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.instalaciones-navlink2 {
  display: contents;
}
.instalaciones-registro {
  gap: 12px;
  flex: 3;
  width: 15%;
  height: 50%;
  display: flex;
  overflow: hidden;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 62px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(7, 112, 218, 1);
}
.instalaciones-text11 {
  color: rgba(239, 239, 239, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.instalaciones-line {
  width: 90%;
  height: 5px;
  align-self: center;
}
.instalaciones-body {
  gap: 20px;
  flex: 0 0 auto;
  width: 90%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.instalaciones-pagina {
  gap: 12px;
  width: 141px;
  height: auto;
  display: flex;
  align-items: center;
}
.instalaciones-frame7 {
  gap: 4px;
  display: flex;
  align-items: center;
}
.instalaciones-text13 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.instalaciones-frame1 {
  width: 16px;
  height: 16px;
}
.instalaciones-text15 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: "Noto Sans";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.instalaciones-text16 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 48px;
  align-self: center;
  font-style: Bold;
  text-align: left;
  font-family: "Noto Sans";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.instalaciones-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  flex-direction: column;
}
.instalaciones-footer {
  gap: 20px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-bottom: 10px;
  flex-direction: column;
  background-color: #D9D9D9;
}
.instalaciones-info {
  width: 90%;
  height: 150px;
  display: flex;
  overflow: hidden;
  align-self: center;
  margin-top: -75px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(0, 93, 119, 1);
}
.instalaciones-text19 {
  color: rgb(255, 255, 255);
  width: 551px;
  height: auto;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: "Noto Sans";
  font-weight: 700;
  line-height: 45px;
  font-stretch: normal;
  text-decoration: none;
}
.instalaciones-frame46 {
  gap: 14px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.instalaciones-fullname {
  width: 90%;
  height: var(--dl-size-size-small);
  align-self: center;
  font-family: "Noto Sans";
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 32px;
}
.instalaciones-button {
  color: var(--dl-color-gray-black);
  width: 90%;
  height: var(--dl-size-size-small);
  font-size: 24px;
  align-self: center;
  font-family: "Noto Sans";
  border-color: #000000;
  border-radius: 32px;
  background-color: var(--dl-color-gray-white);
}
.instalaciones-info1 {
  width: 100%;
  height: auto;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 700;
}
.instalaciones-enlaces {
  width: 90%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
}
.instalaciones-frame51 {
  gap: 35px;
  width: 25%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.instalaciones-frame50 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.instalaciones-gymlogo2png11 {
  width: 133px;
  height: 55px;
}
.instalaciones-text24 {
  color: rgba(0, 93, 119, 1);
  height: auto;
  font-size: 14px;
  align-self: center;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.instalaciones-social {
  width: 148px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.instalaciones-frame1 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.instalaciones-bg {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
}
.instalaciones-logotwitter2 {
  top: 9.935546875px;
  left: 9.033203125px;
  width: 11.17392635345459px;
  height: 9.032258987426758px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.instalaciones-group {
  top: 0px;
  left: 0px;
  width: 11.17392635345459px;
  height: 9.032258987426758px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.instalaciones-vector {
  top: 0px;
  left: 0px;
  width: 11px;
  height: 9px;
  position: absolute;
}
.instalaciones-frame2 {
  top: 0px;
  left: 40px;
  width: 28px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.instalaciones-bg1 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
}
.instalaciones-logofbsimple2 {
  top: 8.12890625px;
  left: 10.83984375px;
  width: 6.3225812911987305px;
  height: 12.174895286560059px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.instalaciones-group1 {
  top: 0px;
  left: 4.973799150320701e-14px;
  width: 6.3225812911987305px;
  height: 12.174895286560059px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.instalaciones-vector1 {
  top: 0px;
  left: 0px;
  width: 6px;
  height: 12px;
  position: absolute;
}
.instalaciones-frame3 {
  top: 0px;
  left: 80px;
  width: 28px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.instalaciones-bg2 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
}
.instalaciones-logoinstagram1 {
  top: 7.2265625px;
  left: 7.2265625px;
  width: 13.54838752746582px;
  height: 13.549030303955078px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.instalaciones-group2 {
  top: 0px;
  left: -4.263256414560601e-14px;
  width: 13.54838752746582px;
  height: 13.549030303955078px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.instalaciones-vector2 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.instalaciones-vector3 {
  top: 3.296875px;
  left: 3.296875px;
  width: 7px;
  height: 7px;
  position: absolute;
}
.instalaciones-vector4 {
  top: 2.345703125px;
  left: 9.578125px;
  width: 2px;
  height: 2px;
  position: absolute;
}
.instalaciones-frame4 {
  top: 0px;
  left: 120px;
  width: 28px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.instalaciones-bg3 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
}
.instalaciones-logogithub1 {
  top: 7.2265625px;
  left: 8.126953125px;
  width: 12.95979118347168px;
  height: 12.645162582397461px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.instalaciones-group3 {
  top: 0px;
  left: 2.842170943040401e-14px;
  width: 12.95979118347168px;
  height: 12.645162582397461px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.instalaciones-vector5 {
  top: 0px;
  left: 0px;
  width: 13px;
  height: 13px;
  position: absolute;
}
.instalaciones-frame47 {
  gap: 26px;
  width: 25%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.instalaciones-text26 {
  color: rgba(7, 112, 218, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.instalaciones-text28 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 19px;
  font-stretch: normal;
  text-decoration: none;
}
.instalaciones-frame52 {
  gap: 26px;
  width: 25%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.instalaciones-text43 {
  color: rgba(7, 112, 218, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.instalaciones-text45 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  width: 158px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 19px;
  font-stretch: normal;
  text-decoration: none;
}
.instalaciones-frame49 {
  gap: 26px;
  width: 25%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.instalaciones-text60 {
  color: rgba(7, 112, 218, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.instalaciones-text62 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 19px;
  font-stretch: normal;
  text-decoration: none;
}
.instalaciones-final {
  flex: 0 0 auto;
  width: 90%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: space-between;
}
.instalaciones-text67 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: right;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.instalaciones-frame53 {
  gap: 12px;
  display: flex;
  align-items: flex-end;
}
.instalaciones-badge {
  width: 47px;
  height: 30px;
  box-shadow: 0px 4.482142925262451px 8.964285850524902px 0px rgba(183, 183, 183, 0.07999999821186066) ;
  box-sizing: content-box;
}
.instalaciones-badge1 {
  width: 47px;
  height: 30px;
  box-shadow: 0px 4.482142925262451px 8.964285850524902px 0px rgba(183, 183, 183, 0.07999999821186066) ;
  box-sizing: content-box;
}
.instalaciones-badge2 {
  width: 47px;
  height: 30px;
  box-shadow: 0px 4.482142925262451px 8.964285850524902px 0px rgba(183, 183, 183, 0.07999999821186066) ;
  box-sizing: content-box;
}
.instalaciones-badge3 {
  width: 47px;
  height: 30px;
  box-shadow: 0px 4.482142925262451px 8.964285850524902px 0px rgba(183, 183, 183, 0.07999999821186066) ;
  box-sizing: content-box;
}
.instalaciones-badge4 {
  width: 47px;
  height: 30px;
  box-shadow: 0px 4.482142925262451px 8.964285850524902px 0px rgba(183, 183, 183, 0.07999999821186066) ;
  box-sizing: content-box;
}
@media(max-width: 991px) {
  .instalaciones-gymlogo2png1 {
    align-self: center;
  }
  .instalaciones-men {
    align-self: self-end;
  }
}
