.registro-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.registro-registro {
  gap: 20px;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.registro-header {
  gap: 5px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #D9D9D9;
}
.registro-close {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #07d26c;
}
.registro-text {
  color: rgb(255, 255, 255);
  width: auto;
  align-self: center;
  margin-left: var(--dl-space-space-twounits);
  background-color: rgb(7, 210, 108);
}
.registro-image {
  width: auto;
  height: auto;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-twounits);
}
.registro-cabecera {
  gap: 10px;
  flex: 0 0 auto;
  width: 90%;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.registro-navlink {
  display: contents;
}
.registro-logo {
  flex: 1;
  width: 15%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}
.registro-gymlogo2png1 {
  flex: 1;
  width: 135px;
  height: 55px;
  align-self: center;
}
.registro-text01 {
  color: rgba(0, 93, 119, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.registro-men {
  gap: 24px;
  flex: 2;
  width: 60%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
}
.registro-navlink1 {
  display: contents;
}
.registro-frame126 {
  width: 100px;
  height: 27px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  text-decoration: none;
}
.registro-text03 {
  left: 22px;
  color: rgba(38, 38, 38, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.registro-frame {
  top: 5.5px;
  left: 84px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.registro-text05 {
  color: rgba(38, 38, 38, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.registro-text07 {
  color: rgba(38, 38, 38, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.registro-text09 {
  color: rgba(38, 38, 38, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.registro-registro1 {
  gap: 12px;
  flex: 3;
  width: 15%;
  height: 50%;
  display: flex;
  overflow: hidden;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 62px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(7, 112, 218, 1);
}
.registro-text11 {
  color: rgba(239, 239, 239, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.registro-line {
  width: 90%;
  height: 5px;
  align-self: center;
}
.registro-body {
  gap: 20px;
  flex: 0 0 auto;
  width: 90%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.registro-pagina {
  gap: 12px;
  width: 141px;
  height: auto;
  display: flex;
  align-items: center;
}
.registro-frame7 {
  gap: 4px;
  display: flex;
  align-items: center;
}
.registro-text13 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.registro-frame1 {
  width: 16px;
  height: 16px;
}
.registro-text15 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.registro-text17 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 48px;
  align-self: center;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.registro-formulario {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: HalfUnit;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(221, 221, 221, 1);
}
.registro-fila1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.registro-nombre {
  width: 50%;
  height: 85px;
  display: flex;
  align-items: flex-start;
}
.registro-text-nombre {
  left: var(--dl-space-space-oneandhalfunits);
  color: rgba(38, 38, 38, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.registro-text19 {
  font-weight: 700;
}
.registro-name {
  width: 100%;
  height: var(--dl-size-size-small);
  align-self: flex-end;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 32px;
}
.registro-apellidos {
  right: 0px;
  width: 50%;
  height: 85px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
}
.registro-text20 {
  left: var(--dl-space-space-oneandhalfunits);
  color: rgba(38, 38, 38, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.registro-text21 {
  font-weight: 700;
}
.registro-surname {
  width: 100%;
  height: var(--dl-size-size-small);
  align-self: flex-end;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 32px;
}
.registro-fila2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.registro-correo {
  width: 50%;
  height: 85px;
  display: flex;
  align-items: flex-start;
}
.registro-text-correo {
  left: var(--dl-space-space-oneandhalfunits);
  color: rgb(38, 38, 38);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: "Noto Sans";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.registro-mail {
  width: 100%;
  height: var(--dl-size-size-small);
  align-self: flex-end;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 32px;
}
.registro-dni {
  right: 0px;
  width: 50%;
  height: 85px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
}
.registro-text22 {
  top: 0px;
  left: var(--dl-space-space-oneandhalfunits);
  color: rgb(38, 38, 38);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: "Noto Sans";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.registro-dni1 {
  width: 100%;
  height: var(--dl-size-size-small);
  align-self: flex-end;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 32px;
}
.registro-fila3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.registro-telfono {
  width: 50%;
  height: 85px;
  display: flex;
  align-items: flex-start;
}
.registro-text-telfono {
  left: var(--dl-space-space-oneandhalfunits);
  color: rgb(38, 38, 38);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: "Noto Sans";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.registro-phone {
  width: 100%;
  height: var(--dl-size-size-small);
  align-self: flex-end;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 32px;
}
.registro-rrss {
  right: 0px;
  width: 50%;
  height: 85px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
}
.registro-text23 {
  top: 0px;
  left: var(--dl-space-space-oneandhalfunits);
  color: rgb(38, 38, 38);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: "Noto Sans";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.registro-rrss1 {
  width: 100%;
  height: var(--dl-size-size-small);
  align-self: flex-end;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 32px;
}
.registro-fila4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.registro-domicilio {
  width: 50%;
  height: 85px;
  display: flex;
  align-items: flex-start;
}
.registro-text-domicilio {
  left: var(--dl-space-space-oneandhalfunits);
  color: rgb(38, 38, 38);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: "Noto Sans";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.registro-address {
  width: 100%;
  height: var(--dl-size-size-small);
  align-self: flex-end;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 32px;
}
.registro-nacimiento {
  right: 0px;
  width: 50%;
  height: 85px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
}
.registro-text24 {
  top: 0px;
  left: var(--dl-space-space-oneandhalfunits);
  color: rgb(38, 38, 38);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: "Noto Sans";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.registro-birth {
  width: 100%;
  height: var(--dl-size-size-small);
  align-self: flex-end;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 32px;
}
.registro-pago {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.registro-pago1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.registro-text-domicilio1 {
  color: rgb(38, 38, 38);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: "Noto Sans";
  font-weight: 700;
  line-height: normal;
  margin-left: var(--dl-space-space-oneandhalfunits);
  font-stretch: normal;
  text-decoration: none;
}
.registro-fullname {
  width: 90%;
  height: var(--dl-size-size-small);
  align-self: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 32px;
}
.registro-card {
  width: 90%;
  height: var(--dl-size-size-small);
  align-self: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 32px;
}
.registro-date {
  width: 30%;
  height: var(--dl-size-size-small);
  align-self: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 32px;
}
.registro-cvv {
  width: 30%;
  height: var(--dl-size-size-small);
  align-self: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 32px;
}
.registro-resto {
  flex: 0 0 auto;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: space-between;
}
.registro-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  flex-direction: column;
}
.registro-datos {
  gap: var(--dl-space-space-halfunit);
  width: 524px;
  height: 40px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
}
.registro-checkbox {
  width: 24px;
  height: 24px;
  align-self: center;
}
.registro-text27 {
  color: rgb(38, 38, 38);
  height: auto;
  font-size: 20px;
  align-self: center;
  font-style: Light;
  text-align: left;
  font-family: "Noto Sans";
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.registro-notificaciones {
  gap: var(--dl-space-space-halfunit);
  width: 534px;
  height: 40px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
}
.registro-checkbox1 {
  width: 24px;
  height: 24px;
  align-self: center;
}
.registro-text28 {
  color: rgba(38, 38, 38, 1);
  height: auto;
  font-size: 20px;
  align-self: center;
  font-style: Light;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.registro-button {
  color: #ffffff;
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-medium);
  font-size: 24px;
  align-self: center;
  border-radius: 62px;
  background-color: #0770DA;
}
.registro-text30 {
  font-size: 32px;
  text-align: center;
  font-family: "Noto Sans";
}
.registro-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  flex-direction: column;
}
.registro-footer {
  gap: 20px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-bottom: 10px;
  flex-direction: column;
  background-color: #D9D9D9;
}
.registro-info {
  width: 90%;
  height: 150px;
  display: flex;
  overflow: hidden;
  align-self: center;
  margin-top: -75px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(0, 93, 119, 1);
}
.registro-text33 {
  color: rgb(255, 255, 255);
  width: 551px;
  height: auto;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: "Noto Sans";
  font-weight: 700;
  line-height: 45px;
  font-stretch: normal;
  text-decoration: none;
}
.registro-frame46 {
  gap: 14px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.registro-fullname1 {
  width: 90%;
  height: var(--dl-size-size-small);
  align-self: center;
  font-family: "Noto Sans";
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 32px;
}
.registro-button1 {
  color: var(--dl-color-gray-black);
  width: 90%;
  height: var(--dl-size-size-small);
  font-size: 24px;
  align-self: center;
  font-family: "Noto Sans";
  border-color: #000000;
  border-radius: 32px;
  background-color: var(--dl-color-gray-white);
}
.registro-info1 {
  width: 100%;
  height: auto;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 700;
}
.registro-enlaces {
  width: 90%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
}
.registro-frame51 {
  gap: 35px;
  width: 25%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.registro-frame50 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.registro-gymlogo2png11 {
  width: 133px;
  height: 55px;
}
.registro-text38 {
  color: rgba(0, 93, 119, 1);
  height: auto;
  font-size: 14px;
  align-self: center;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.registro-social {
  width: 148px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.registro-frame1 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.registro-bg {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
}
.registro-logotwitter2 {
  top: 9.935546875px;
  left: 9.033203125px;
  width: 11.17392635345459px;
  height: 9.032258987426758px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.registro-group {
  top: 0px;
  left: 0px;
  width: 11.17392635345459px;
  height: 9.032258987426758px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.registro-vector {
  top: 0px;
  left: 0px;
  width: 11px;
  height: 9px;
  position: absolute;
}
.registro-frame2 {
  top: 0px;
  left: 40px;
  width: 28px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.registro-bg1 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
}
.registro-logofbsimple2 {
  top: 8.12890625px;
  left: 10.83984375px;
  width: 6.3225812911987305px;
  height: 12.174895286560059px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.registro-group1 {
  top: 0px;
  left: 4.973799150320701e-14px;
  width: 6.3225812911987305px;
  height: 12.174895286560059px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.registro-vector1 {
  top: 0px;
  left: 0px;
  width: 6px;
  height: 12px;
  position: absolute;
}
.registro-frame3 {
  top: 0px;
  left: 80px;
  width: 28px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.registro-bg2 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
}
.registro-logoinstagram1 {
  top: 7.2265625px;
  left: 7.2265625px;
  width: 13.54838752746582px;
  height: 13.549030303955078px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.registro-group2 {
  top: 0px;
  left: -4.263256414560601e-14px;
  width: 13.54838752746582px;
  height: 13.549030303955078px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.registro-vector2 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.registro-vector3 {
  top: 3.296875px;
  left: 3.296875px;
  width: 7px;
  height: 7px;
  position: absolute;
}
.registro-vector4 {
  top: 2.345703125px;
  left: 9.578125px;
  width: 2px;
  height: 2px;
  position: absolute;
}
.registro-frame4 {
  top: 0px;
  left: 120px;
  width: 28px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.registro-bg3 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
}
.registro-logogithub1 {
  top: 7.2265625px;
  left: 8.126953125px;
  width: 12.95979118347168px;
  height: 12.645162582397461px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.registro-group3 {
  top: 0px;
  left: 2.842170943040401e-14px;
  width: 12.95979118347168px;
  height: 12.645162582397461px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.registro-vector5 {
  top: 0px;
  left: 0px;
  width: 13px;
  height: 13px;
  position: absolute;
}
.registro-frame47 {
  gap: 26px;
  width: 25%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.registro-text40 {
  color: rgba(7, 112, 218, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.registro-text42 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 19px;
  font-stretch: normal;
  text-decoration: none;
}
.registro-frame52 {
  gap: 26px;
  width: 25%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.registro-text57 {
  color: rgba(7, 112, 218, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.registro-text59 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  width: 158px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 19px;
  font-stretch: normal;
  text-decoration: none;
}
.registro-frame49 {
  gap: 26px;
  width: 25%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.registro-text74 {
  color: rgba(7, 112, 218, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.registro-text76 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 19px;
  font-stretch: normal;
  text-decoration: none;
}
.registro-final {
  flex: 0 0 auto;
  width: 90%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: space-between;
}
.registro-text81 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: right;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.registro-frame53 {
  gap: 12px;
  display: flex;
  align-items: flex-end;
}
.registro-badge {
  width: 47px;
  height: 30px;
  box-shadow: 0px 4.482142925262451px 8.964285850524902px 0px rgba(183, 183, 183, 0.07999999821186066) ;
  box-sizing: content-box;
}
.registro-badge1 {
  width: 47px;
  height: 30px;
  box-shadow: 0px 4.482142925262451px 8.964285850524902px 0px rgba(183, 183, 183, 0.07999999821186066) ;
  box-sizing: content-box;
}
.registro-badge2 {
  width: 47px;
  height: 30px;
  box-shadow: 0px 4.482142925262451px 8.964285850524902px 0px rgba(183, 183, 183, 0.07999999821186066) ;
  box-sizing: content-box;
}
.registro-badge3 {
  width: 47px;
  height: 30px;
  box-shadow: 0px 4.482142925262451px 8.964285850524902px 0px rgba(183, 183, 183, 0.07999999821186066) ;
  box-sizing: content-box;
}
.registro-badge4 {
  width: 47px;
  height: 30px;
  box-shadow: 0px 4.482142925262451px 8.964285850524902px 0px rgba(183, 183, 183, 0.07999999821186066) ;
  box-sizing: content-box;
}
@media(max-width: 991px) {
  .registro-gymlogo2png1 {
    align-self: center;
  }
  .registro-men {
    align-self: self-end;
  }
}
