.tarifas-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.tarifas-tarifas {
  gap: 20px;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.tarifas-header {
  gap: 5px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #D9D9D9;
}
.tarifas-close {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #07d26c;
}
.tarifas-text {
  color: rgb(255, 255, 255);
  width: auto;
  align-self: center;
  margin-left: var(--dl-space-space-twounits);
  background-color: rgb(7, 210, 108);
}
.tarifas-image {
  width: auto;
  height: auto;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-twounits);
}
.tarifas-cabecera {
  gap: 10px;
  flex: 0 0 auto;
  width: 90%;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.tarifas-navlink {
  display: contents;
}
.tarifas-logo {
  flex: 1;
  width: 15%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}
.tarifas-gymlogo2png1 {
  flex: 1;
  width: 135px;
  height: 55px;
  align-self: center;
}
.tarifas-text01 {
  color: rgba(0, 93, 119, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.tarifas-men {
  gap: 24px;
  flex: 2;
  width: 60%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
}
.tarifas-navlink1 {
  display: contents;
}
.tarifas-frame126 {
  width: 100px;
  height: 27px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  text-decoration: none;
}
.tarifas-text03 {
  left: 22px;
  color: rgba(38, 38, 38, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.tarifas-frame {
  top: 5.5px;
  left: 84px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.tarifas-text05 {
  color: rgba(38, 38, 38, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.tarifas-text07 {
  color: rgba(38, 38, 38, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.tarifas-text09 {
  color: rgba(38, 38, 38, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.tarifas-navlink2 {
  display: contents;
}
.tarifas-registro {
  gap: 12px;
  flex: 3;
  width: 15%;
  height: 50%;
  display: flex;
  overflow: hidden;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 62px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(7, 112, 218, 1);
}
.tarifas-text11 {
  color: rgba(239, 239, 239, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.tarifas-line {
  width: 90%;
  height: 5px;
  align-self: center;
}
.tarifas-body {
  gap: 20px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.tarifas-pagina {
  gap: 12px;
  width: 141px;
  height: auto;
  display: flex;
  align-items: center;
  margin-left: 5%;
}
.tarifas-frame7 {
  gap: 4px;
  display: flex;
  align-items: center;
}
.tarifas-text13 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.tarifas-frame1 {
  width: 16px;
  height: 16px;
}
.tarifas-text15 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: "Noto Sans";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.tarifas-container1 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  margin-bottom: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.tarifas-image1 {
  width: 100%;
  object-fit: cover;
}
.tarifas-image2 {
  width: 60%;
  align-self: center;
  object-fit: cover;
}
.tarifas-footer {
  gap: 20px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-bottom: 10px;
  flex-direction: column;
  background-color: #D9D9D9;
}
.tarifas-info {
  width: 90%;
  height: 150px;
  display: flex;
  overflow: hidden;
  align-self: center;
  margin-top: -75px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(0, 93, 119, 1);
}
.tarifas-text18 {
  color: rgb(255, 255, 255);
  width: 551px;
  height: auto;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: "Noto Sans";
  font-weight: 700;
  line-height: 45px;
  font-stretch: normal;
  text-decoration: none;
}
.tarifas-frame46 {
  gap: 14px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.tarifas-frame3 {
  gap: 12px;
  width: 349px;
  display: flex;
  padding: 12px 16px;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 62px;
  background-color: rgba(255, 255, 255, 1);
}
.tarifas-frame2 {
  width: 24px;
  height: 24px;
}
.tarifas-text21 {
  color: rgba(0, 0, 0, 0.4000000059604645);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.tarifas-frame4 {
  gap: 12px;
  width: 349px;
  display: flex;
  padding: 12px 16px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 62px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.tarifas-text23 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.tarifas-enlaces {
  width: 90%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
}
.tarifas-frame51 {
  gap: 35px;
  width: 25%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.tarifas-frame50 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.tarifas-gymlogo2png11 {
  width: 133px;
  height: 55px;
}
.tarifas-text25 {
  color: rgba(0, 93, 119, 1);
  height: auto;
  font-size: 14px;
  align-self: center;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.tarifas-social {
  width: 148px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.tarifas-frame1 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.tarifas-bg {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
}
.tarifas-logotwitter2 {
  top: 9.935546875px;
  left: 9.033203125px;
  width: 11.17392635345459px;
  height: 9.032258987426758px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.tarifas-group {
  top: 0px;
  left: 0px;
  width: 11.17392635345459px;
  height: 9.032258987426758px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.tarifas-vector {
  top: 0px;
  left: 0px;
  width: 11px;
  height: 9px;
  position: absolute;
}
.tarifas-frame2 {
  top: 0px;
  left: 40px;
  width: 28px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.tarifas-bg1 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
}
.tarifas-logofbsimple2 {
  top: 8.12890625px;
  left: 10.83984375px;
  width: 6.3225812911987305px;
  height: 12.174895286560059px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.tarifas-group1 {
  top: 0px;
  left: 4.973799150320701e-14px;
  width: 6.3225812911987305px;
  height: 12.174895286560059px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.tarifas-vector1 {
  top: 0px;
  left: 0px;
  width: 6px;
  height: 12px;
  position: absolute;
}
.tarifas-frame31 {
  top: 0px;
  left: 80px;
  width: 28px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.tarifas-bg2 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
}
.tarifas-logoinstagram1 {
  top: 7.2265625px;
  left: 7.2265625px;
  width: 13.54838752746582px;
  height: 13.549030303955078px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.tarifas-group2 {
  top: 0px;
  left: -4.263256414560601e-14px;
  width: 13.54838752746582px;
  height: 13.549030303955078px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.tarifas-vector2 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.tarifas-vector3 {
  top: 3.296875px;
  left: 3.296875px;
  width: 7px;
  height: 7px;
  position: absolute;
}
.tarifas-vector4 {
  top: 2.345703125px;
  left: 9.578125px;
  width: 2px;
  height: 2px;
  position: absolute;
}
.tarifas-frame41 {
  top: 0px;
  left: 120px;
  width: 28px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.tarifas-bg3 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
}
.tarifas-logogithub1 {
  top: 7.2265625px;
  left: 8.126953125px;
  width: 12.95979118347168px;
  height: 12.645162582397461px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.tarifas-group3 {
  top: 0px;
  left: 2.842170943040401e-14px;
  width: 12.95979118347168px;
  height: 12.645162582397461px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.tarifas-vector5 {
  top: 0px;
  left: 0px;
  width: 13px;
  height: 13px;
  position: absolute;
}
.tarifas-frame47 {
  gap: 26px;
  width: 25%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.tarifas-text27 {
  color: rgba(7, 112, 218, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.tarifas-text29 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 19px;
  font-stretch: normal;
  text-decoration: none;
}
.tarifas-frame52 {
  gap: 26px;
  width: 25%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.tarifas-text44 {
  color: rgba(7, 112, 218, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.tarifas-text46 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  width: 158px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 19px;
  font-stretch: normal;
  text-decoration: none;
}
.tarifas-frame49 {
  gap: 26px;
  width: 25%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.tarifas-text61 {
  color: rgba(7, 112, 218, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.tarifas-text63 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 19px;
  font-stretch: normal;
  text-decoration: none;
}
.tarifas-final {
  flex: 0 0 auto;
  width: 90%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: space-between;
}
.tarifas-text68 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: right;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.tarifas-frame53 {
  gap: 12px;
  display: flex;
  align-items: flex-end;
}
.tarifas-badge {
  width: 47px;
  height: 30px;
  box-shadow: 0px 4.482142925262451px 8.964285850524902px 0px rgba(183, 183, 183, 0.07999999821186066) ;
  box-sizing: content-box;
}
.tarifas-badge1 {
  width: 47px;
  height: 30px;
  box-shadow: 0px 4.482142925262451px 8.964285850524902px 0px rgba(183, 183, 183, 0.07999999821186066) ;
  box-sizing: content-box;
}
.tarifas-badge2 {
  width: 47px;
  height: 30px;
  box-shadow: 0px 4.482142925262451px 8.964285850524902px 0px rgba(183, 183, 183, 0.07999999821186066) ;
  box-sizing: content-box;
}
.tarifas-badge3 {
  width: 47px;
  height: 30px;
  box-shadow: 0px 4.482142925262451px 8.964285850524902px 0px rgba(183, 183, 183, 0.07999999821186066) ;
  box-sizing: content-box;
}
.tarifas-badge4 {
  width: 47px;
  height: 30px;
  box-shadow: 0px 4.482142925262451px 8.964285850524902px 0px rgba(183, 183, 183, 0.07999999821186066) ;
  box-sizing: content-box;
}
@media(max-width: 991px) {
  .tarifas-gymlogo2png1 {
    align-self: center;
  }
  .tarifas-men {
    align-self: self-end;
  }
}
