:root {
  --variable-collection-verde-gym: rgba(8, 212, 110, 1);
  --variable-collection-azul-gym: rgba(7, 112, 218, 1);
  --variable-collection-blanco: rgba(239, 239, 239, 1);
  --variable-collection-negro: rgba(38, 38, 38, 1);
  --variable-collection-azul2: rgba(203, 224, 243, 1);
  --variable-collection-azul-que-me-gusto: rgba(0, 93, 119, 1);
  --variable-collection-gri: rgba(166, 166, 166, 1);
}